<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.networkdesigner.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <!-- Storage access for saving/loading .nml files -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:label="NetworkDesigner"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="NetworkDesigner"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open .nml files directly from file manager -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.nml" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="NetworkDesigner" />
            <meta-data android:name="android.app.extract_android_style" android:value="minimal" />
        </activity>
    </application>
</manifest>
