<?xml version="1.0" encoding="utf-8"?>
<!-- Kept as close as possible to Qt 6.7's own template
     (qtbase/src/android/templates/AndroidManifest.xml); only the package
     name, label, permissions and hardcoded lib_name differ. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.networkdesigner.app"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="1.1">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- Storage access for saving/loading .nml files on older Android -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="NetworkDesigner"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupOnly="false"
        android:largeHeap="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="NetworkDesigner"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="NetworkDesigner" />

            <meta-data
                android:name="android.app.arguments"
                android:value="" />
        </activity>
    </application>
</manifest>
